<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  </div>
  
  <div class="row">
  <div class="col s5" id="left-block" align="left">
    <img width="500" align="left" alt="car" src="./assets/img/car.jpg">
  </div>
  <div class="col s6" id="right-block" align="left">
      
      <div id="pump" class="row s12 blockrow">
        <div class="col s12 big-panel card"  id="pump_data">
            <div class="col s3 small-panel"  id="avg_pump_speed">pump speed</div>
            <div class="col s3 small-panel"  id="avg_fuel_pressure">fuel pressure</div>
            <div class="col s3 small-panel"  id="avg_fuel_temp">fuel temp</div>
            <div class="col s3 small-panel"  id="avg_fuel_mass_delivery">fuel mass delivery</div>
        </div>
      </div>
  
      <div id="turbo_charger" class="row s12 blockrow">
        <div class="col s12 big-panel card" id="turbo_charger_data">
            <div class="col s3 card white darken-1"  id="turbo_charger_data1">
                <div class="card-content grey-text">
                  <span class="card-title">Title</span>
                  <p></p>
                </div>
                <div class="card-action">
                  <a href="#">link</a>
                </div>
              </div>
        </div>
        </div>
    
  
  </div>
  
  