<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}! (Kann weg später!)
  </h1>
</div>

<div class="row">

<div class="col s5" id="left-block" align="left">
  <img width="500" align="left" alt="car" src="./assets/car.jpg">
</div>
<div class="col s7" id="right-block" align="left">
  
  <div id="upper_block" class="row">
    <div class="col s6 big-panel"  id="fleet_size" style="background-color:red; display: inline-block">10.000</div>
    <div class="col s6 big-panel"  id="cars_to_check" style="background-color:blue; display: inline-block">9</div>
  </div>


  <div id="lower_block" class="row">
    <div class="col s3 big-panel" id="vehicle_speed" style="background-color:yellow; display: inline-block">400 X</div>
    <div class="col s3 big-panel" id="engine_speed" style="background-color:green; display: inline-block">2000 %</div>
    <div class="col s3 big-panel" id="engine_load" style="background-color:orange; display: inline-block">63 apm</div>
    <div class="col s3 big-panel" id="vehicle_temp" style="background-color:grey; display: inline-block">0,77 G</div>
  </div>

</div>
</div>

