.filterselect{
    display: block;
    width: 25%;
}

.mybtn{
    display: inline-block;
    float: right;
    margin: 0px 160px;
    background-color: #ffa500;
}

.tools{
    display: flex;
    align-items: flex-start;
}

.critical{
    background-color: #ff2d37;
    color: white;
}

.criticalCheckbox{
    border: 2px solid white !important;
}