.filterselect{
    display: block;
    width: 25%;
}

.mybtn{
    display: inline-block;
    background-color: #ffa500;
}

.tools{
    display: flex;
    align-items: flex-start;
}

.critical{
    background-color: #ff2d37b1;
    color: white;
}
.critical_bg{
    background-color: #ff2d3734;
    color: black;
}
.criticalCheckbox{
    border: 2px solid white !important;
}