<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center"></div>
  
  <div class="row">
  
    <div class="col s5" id="left-block" align="left">
      <img width="500" align="left" alt="car" src="./assets/img/car.jpg">
    </div>
  
    <div class="col s7" id="right-block" align="left">
      
      <!-- Dropdown Trigger -->
  <a class='dropdown-trigger btn' href='#' data-target='dropdown1'>Filter!</a>

  <!-- Dropdown Structure -->
  <ul id='dropdown1' class='dropdown-content'>
    <li><a href="#!">min</a></li>
    <li><a href="#!">max</a></li>
    <li class="divider" tabindex="-1"></li>
    <li><a href="#!">Q1</a></li>
    <li><a href="#!"><i class="material-icons">Med</i>four</a></li>
    <li><a href="#!"><i class="material-icons">Q2</i>five</a></li>
  </ul>
      
      
      <div class="card">
        
        <table class="responsive-table">
            <thead>
              <tr>
                  <th>VIN</th>
                  <th>Fuel Pump Delivery</th>
                  <th>Fuel Temp in Rail</th>
                  <th>Engine Speed</th>
                  <th>Fuel Pressure</th>
                  <th>Checkbox</th>
              </tr>
            </thead>
    
            <tbody>
              <tr>
                <td>VF1RFA00257138714</td>
                <td>23.743102876650337</td>
                <td>57.27104796211535</td>
                <td>2173.5360040852347</td>
                <td>235.85555477088076</td>
                <td> 
                  <form action="#">
                    <p>
                      <label>
                        <input type="checkbox" />
                      </label>
                    </p>
                  </form>
                </td>
              </tr>
              <tr>
                <td>VF1RFA00257138740</td>
                <td>24.24121026202519</td>
                <td>50.23744120280331</td>
                <td>2349.405887103715</td>
                <td>236.47265937699524</td>
                <td> 
                    <form action="#">
                      <p>
                        <label>
                          <input type="checkbox" />
                        </label>
                      </p>
                    </form>
                  </td>
              </tr>
              <tr>
                  <td>1</td>
                  <td>2</td>
                  <td>3</td>
                  <td>4</td>
                  <td>5</td>
                  <td> 
                      <form action="lol">
                        <p>
                          <label>
                            <input type="checkbox" />
                          </label>
                        </p>
                      </form>
                    </td>
              </tr>
              <tr>
                  <td>1</td>
                  <td>2</td>
                  <td>3</td>
                  <td>4</td>
                  <td>5</td>
                  <td> 
                      <form action="#">
                        <p>
                          <label>
                            <input type="checkbox" />
                          </label>
                        </p>
                      </form>
                    </td>
              </tr>
              <tr>
                  <td>1</td>
                  <td>2</td>
                  <td>3</td>
                  <td>4</td>
                  <td>5</td>
                  <td> 
                      <form action="#">
                        <p>
                          <label>
                            <input type="checkbox" />
                          </label>
                        </p>
                      </form>
                    </td>
              </tr>
              <tr>
                  <td>1</td>
                  <td>2</td>
                  <td>3</td>
                  <td>4</td>
                  <td>5</td>
                  <td> 
                      <form action="#">
                        <p>
                          <label>
                            <input type="checkbox" />
                          </label>
                        </p>
                      </form>
                    </td>
              </tr>
              <tr>
                  <td>1</td>
                  <td>2</td>
                  <td>3</td>
                  <td>4</td>
                  <td>5</td>
                  <td> 
                      <form action="#">
                        <p>
                          <label>
                            <input type="checkbox" />
                          </label>
                        </p>
                      </form>
                    </td>
              </tr>
              <tr>
                  <td>1</td>
                  <td>2</td>
                  <td>3</td>
                  <td>4</td>
                  <td>5</td>
                  <td> 
                      <form action="#">
                        <p>
                          <label>
                            <input type="checkbox" />
                          </label>
                        </p>
                      </form>
                    </td>
              </tr>
              <tr>
                  <td>1</td>
                  <td>2</td>
                  <td>3</td>
                  <td>4</td>
                  <td>5</td>
                  <td> 
                      <form action="#">
                        <p>
                          <label>
                            <input type="checkbox" />
                          </label>
                        </p>
                      </form>
                    </td>
              </tr>

            </tbody>
        </table>
      </div>
    </div>


  
  